@font-face {
  font-family: "PlusJakartaSans", sans-serif;
  font-display: swap;
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans", sans-serif;
  font-display: swap;
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans", sans-serif;
  font-display: swap;
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans", sans-serif;
  font-display: swap;
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans", sans-serif;
  font-display: swap;
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf")
    format("truetype");
}
